.App-header{
background-color: #282c34;
}
.logo{
height: "100px";
width: "100px";


}
.HeaderText{
    text-align: center;
    margin-top: -4%;

    font-family: 'Courier New', Courier, monospace;
    font: monospace, bold;
    color: white;
}