.col-sm{
 
    background-color: #428124fd;
    border: 1px solid #428124fd;
    border-radius: 0.5rem;
}
.text{
    padding: "20px";
    font-family: 'Courier New', Courier, monospace;
    font: monospace;
    font-style: bold;
  
    
}
